// Define variables for your color scheme

// For example:
$red: #e00007;
$blue: #064a71;
$yellow: #FFC65A;
$orange: #E67E22;
// #0aa023;
$green: #0aa;
$gray: #0E0000;
$purple: #555af5;
$light-gray: #F8F8F8;
