// Define variables for your color scheme

// For example:
// $red: #e00007;
$red: #ce1c17;
// $pink: #941159;
// $pink: #cc0961;
// #a20d52
$pink: #dc0468;
// $blue: #064a71;
$blue: #124765;
// $darkblue: #124765;
$dark-blue: #09344c;
$yellow: #FFC65A;
$orange: #E67E22;
// #0aa023;
$green: #0da2a2;
$middle-gray: #828586;
$gray: #0E0000;
$purple: #555af5;
$light-gray: #f1f6f7;
$cyan: #07d9ff;
// #6610f2
// #538879
// #0688a0
// #1c435b
