<div class="container">
  <!-- SOLVE to show in calender more than 1 room with dropdown menu -->
  <div class="row">
    <!-- using ransack gem -->
    <%= search_form_for @search, class: 'form-group', url: host_calendar_path do |f| %>

      <div class="col-md-6 select">
        <div class="form-group">
          <label>Your Flats</label>
          <!-- room_id select in the form - dropdown -->
          <%= f.select :room_id, options_for_select(@rooms.collect { |u| [u.listing_name, u.id]}, params[:room_id]), {}, {
            onchange: "$(this.form).submit()"
            # class: "form-control"
          } %>
        </div>
      </div>

    <%= f.hidden_field :start_date, id: "start-date", value: params[:start_date] %>

    <% end %>
  </div>

  <div id="calendar"></div>
</div>

<script>
  // create new var reservations in front with json data
  window.reservations = <%= raw @events.to_json %>
  console.log(reservations);

  function showReservations(data) {
    return data.map(function (e) {
      // Solve in DB booking ex. 15-05-2019 00:00:00
      // check if booking is not just 1 day
      if (e['start_date'] !== e['end_date']) {
        // if more than 1 day(night) -> add 1 day more
        // end date convert to UTC format for different timezones
          e['end_date'] = moment.utc(e['end_date']).add(1, 'days')
      }

      return {
        name: e.fullname,
        start: e['start_date'],
        end: e['end_date'],
        avatar: e.image,
        status: e.status
      }
    })
  }

  $('#calendar').fullCalendar({
    header: {
      left: 'title',
      center: '',
      right: 'prev,next'
    },
    defaultDate: $('#start-date').val(),
    events: showReservations(reservations),
    eventRender: function(event, element, view) {
      return $(`
        <a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end">
          <div class="fc-content ${event.status}">
            <span class="fc-title">
              <img class="img-circle avatar-small" src="${event.avatar}"> ${event.name}
              </span>
          </div>
        </a>
      `);
    }

  });
</script>
