// BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}
// page more filters
.btn-search {
  border: 1px solid #07d9ff;
  border-radius: 2px;
  height: 36px;
  background: white;
  color: $dark-blue;
  margin-top: 10px;
  width: 100%;
  padding: 6px 12px;
}

.btn {
  color: #fff;
  // display all buttons wide
  width: 100%;
}
.btn-publish {
  padding: 7px 18px;
  margin-top: 15px;
  background-color: $pink;
  width: auto;
}
.btn-small {
  padding: 7px 23px;
  margin-top: 15px;
  background-color: $pink;
  width: auto;
}

.btn:hover, .btn:focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  // background: $purple;
  margin-top: 10px;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
}
.btn.btn-default:active {
  background-color: #eaeaea;
}

.btn.btn-normal {
  background-color: $red;
}
.btn.btn-normal:active {
  outline: none;
  background-color: #ff5a5f;
}

.btn.btn-facebook {
  background-color: $blue;
}
.btn.btn-facebook:active {
  outline: none;
  background-color: #2d467b;
  // background-color: #3c6161;
}

.btn.btn-cancel {
  background-color: #6c757d;
}
.btn.btn-form {
  background-color: $cyan;
}
.btn.btn-form:active {
  outline: none;
  background-color: #04c2e4;
}

