// price inside of cell
.day-price {
  position: absolute;
  color: #d81b60;
  bottom: 2px;
  right: 2px;
}

.fc-day-header {
  background-color: white;
}
// !! 'W'
.fc-content.Waiting {
  background-color: #e91e63;
  // #e91e63
  height: 40px;
  border-radius: 25px;
}

.fc-unthemed th, .fc-unthemed td {
  border-color: $cyan;
}
// past month background look
.fc-past {
  background-color: #e7e7e7;
}
// current month background look
// it would rewrite my not_available days to white again
// .fc-future {
//   background-color: white;
// }

.fc-unthemed td.fc-today {
  background-color: #85f485dd;
  //
}

.fc-day {
  position: relative;
}

.fc-content.Approved {
  background-color: #00BCD4;
  height: 40px;
  border-radius: 25px;
}

// corners around booking
.fc-event {
  border: 0px;
  background-color: transparent;
}

.fc-title {
  font-size: 14px;
  position: relative;
  top: 5px;
  left: 15px;
}

// // CALENDAR
// .fc-content.Waiting {
//   background-color: #C9CC6D;
// }

// .fc-past {
//   background-color: lightgray;
// }

// .fc-day {
//   position: relative;
// }

// .fc-content {
//   background-color: #00A699;
//   height: 40px;
//   border-radius: 20px;
// }

// .fc-event {
//   border: 0px;
//   background-color: transparent;
// }

// .fc-title {
//   font-size: 14px;
//   position: relative;
//   top: 7px;
//   left: 20px;
// }
