// for profile
.babu-icon {
  color: $cyan;
}
.text-babu {
  color: $cyan;
  padding-top: 7px;
  padding-right: 20px;
}
.text-babu-icons {
  color: $dark-blue;
  padding-top: 7px;
  padding-right: 20px;
}

// home page
.text-red, .icon-red {
  // color: #dc0468e0;
  // color: #6e77e9;
  color: #00BCD4;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height: 326px;
}

.banner {
  margin-top: 30px;
  margin-bottom: 30px;
}
