// photo_list
.image-thumbnail {
  width: 100px;
}

// your_trips
.image-present {
  width: 100%;
  max-height: 102px;
}

a {
  color: $middle-gray;
  // color: #1c435b;
  text-decoration: none;
}

a:hover, a:focus {
  color: $dark-blue;
  text-decoration: none;
}
