// photo_list
.image-thumbnail {
  width: 100px;
}

// your_trips
.image-present {
  width: 100%;
}

a {
  color: $middle-gray;
  text-decoration: none;
}

a:hover, a:focus {
  color: #269aaa;
  text-decoration: none;
}
