.panel {
  padding: 15px 0;
}
.panel-default .panel-heading {
  color: #ffffff;
  // background-color: #00A699;
  // background-color: #365655;
  background-color: $dark-blue;
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  // added for flatpicker
  display: flex;
  justify-content: space-between;
}

.panel-body {
  border: 1px  solid #d6d6d6;
  background-color: white;
  font-size: 15px;
  color: #828586;
  padding: 10px;
  box-shadow: 5px 8px 15px #697975;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
