// SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: $dark-blue;
  // color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: $middle-gray;
  // color: #bf2257;
  text-decoration: none;
}

.active.sidebar-link {
  color: $dark-blue;
  font-weight: bold;
  text-decoration: none;
}
